body {
    margin: 0;
}

.header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sec {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header, .footer {
    background-color: #1f2937;
}

.box3, button {
    background-color: #3882f6;
    color: #ffffff;
}

button {
    border-radius: 2px;
    border-color: #ffffff;

}

.sign {
    border: none;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.box2 {
    background-color: #e5e7eb;
    padding: 40px;
    margin: 0;
    border: 0;
}

.sugar {
    padding-left: 800px;
    font-weight: 800;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.footer {
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.first {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

.second {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.links {
    display: flex;
    gap: 18px;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoroki {
    display: flex;
    padding-bottom: 80px;
    align-items: center;
    gap: 20px;
}

.single {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.text {
    display: flex;
    flex-wrap: wrap;
}

.box3 {
    margin: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.but {
    align-self: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
}